*{
    max-width: 1200px;
    min-width: 250px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background-color: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background-color: #4fb5c5;
            display: flex;
            flex-flow: row nowrap;
        }
            .logo{
                background-color: #935887;
                flex: 1 1 auto;
            }
            .nav{
                background-color: #935887;
                flex: 5 1 auto;
            }
            .social{
                background-color: #935887;
                flex: 1 1 auto;
            }
        .banner{
            background-color: #4fb5c5;
        }
            h1{
                background-color: #935887;
            }
